name: Quality Assurance - Core
run-name: Core - Quality assurance on '${{ github.actor }}' commit
on:
#  schedule:
#    - cron:  '0 0 * * FRI' # every friday night
  workflow_dispatch:
  push:
    paths:
      - 'core/**'

permissions:
  contents: read
  checks: write

jobs:
  qa-core:
    uses: ./.github/workflows/quality-assurance.yml
    with:
      project: 'core'
